<div class="container">
  <div class="card" *ngFor="let commande of collection">
    <!-- a- directive change le comporetement d HTML -->
    <app-commande [commande] = 'commande'></app-commande>
  </div>
</div>

<!-- {{collection | json}} pour debuger -->
