<div class="card-header">
  <!-- methode nativeElement de la class ElementRef pour recureper l'element html sue le
  quel  est applique la directive appState dans CommandeComponent -->
  <!-- construire le bon nom de class a ajouter en fonction du state recureper -->
   <!-- construire le text  a ajouter  la class en fonction du state recureper -->
  <!-- ajouter classe au span en fonction du state de la commande (this.appState) -->
  <!-- inserer au span en fonction du state de la commande (this.appState) -->
  <span [appState]="commande.state"></span>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{commande.name}}</h4>
    <p class="card-text">Référance : {{commande.reference}}.</p>
    <div *ngIf="state.LIVREE != commande.state">
      <button class="btn btn-primary" *ngIf="state.ENCOURS != commande.state" (click)="changeState(commande, state.ENCOURS)">En cours</button>
      <button class="btn btn-primary" (click)="changeState(commande, state.LIVREE)">Livrée</button>
    </div>
  </div>
