/* You can add global styles to this file, and also import other style files */
body{
  background: #2c04b9;
}
.state-0{
  color: rgb(255, 0, 0);
}
.state-1{
  color: rgb(0, 0, 255);
}
.state-2{
  color: rgb(0, 128, 0);
}

.card{
  margin-top: 1rem;
}
