<form class="form container" [formGroup] = "form" (ngSubmit) = "addCmd()">
  <div class="form-group">
    <input formControlName = "name" name = "name" class="form-control" type="text" placeholder="Prenom et Nom">
  </div>

  <div class="form-group">
    <input formControlName = "ref" name = "ref" class="form-control" type="text" placeholder="Ref. ex : 1235">
  </div>

  <div class="form-group">
    <select  formControlName = "state" class="form-control">
      <option [ngValue] = "state.ALIVRER">A livrer</option>
      <option [ngValue] = "state.ENCOURS">En cour de livraison</option>
      <option [ngValue] = "state.LIVREE">Commande livree</option>
    </select>
  </div>

  <div class="form-group">
    <button [disabled] = "form.invalid" class="btn btn-primary">Valider</button>
  </div>
</form>
